@import 'fonts.css';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: raleway;
    background: #000;
}
.container {
    max-width: 1110px;
    padding: 0 20px;
    margin: 0 auto;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
:root {
    --text: #fff;
}
/* add start */
.ads {
    background: rgb(20, 20, 20);
    color: var(--text);
    font-size: 16px;
    padding: 20px;
    font-family: 'roboto';
}
.ads__container_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ads__container_nav_vector{
    display: flex;
    column-gap: 5px;
    align-items: center;
}

.ads__container_nav_menu {
    display: flex;
    column-gap: 20px;
}
.ads_menu_link{
    display: none;
}
/* add end */
/* header_nav start */
.header {
    position: relative;
}
.header__nav {
    background: #000;
    border: 1px solid rgba(125, 115, 115, 0.5);
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 1000;
}
.header__nav_container_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__nav_menu {
    display: flex;
    font-size: 18px;
}
.header__nav_menu_list:hover {
    background: /* #69cf17 */ rgba(105, 207, 23, 0.75);;
    padding: 22px 14px;
    
}
.header__nav_menu_list {
/*     width: 93px;
    height: 65px; */
    padding: 22px 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}
.header__nav_menu_link {
    color: var(--text);
}
/* header_nav end */

/* header_content start */
.header__content {
    min-height: 100vh;
    position: relative;
     display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}
.header__content_img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.header__content_about {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 18px;
}
.header__content_title {
    color: #69CF17;
    font-size: 72px;
}
.header__content_subject {
    color: #69CF17;
    font-size: 36px;
    font-weight: normal;
}
.header__content_txt {
    color: var(--text);
    font-size: 18px;
    font-weight: normal;
}
.header__content_btns {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}
.header__content_btns_price {
    position: relative;
    background: #69CF17;
    width: 285px;
    height: 103px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-weight: 100;
    opacity: 0.5;
    color: var(--text);
}
.header__content_btns_btn {
    width: 255px;
    height: 51px;
    background: linear-gradient(90deg, #69CF17 0%, #417D11 100%);
    border-radius: 6px;
    font-size: 18px;
    display: grid;
    place-items: center;
    color: var(--text);
}
/* header_content end */

/* section start */
.section__cards_nav {
    position: relative;
}
.section__nav {
    background:  #292929;
    box-shadow: 0px 1px 8px rgba(17, 17, 17, 0.3);
    position: sticky;
    top: 65px;
    z-index: 999;
}

.section__nav_list {
    display: flex;
    margin-top: 50px;
}

.section__nav_list_item_link {
    padding: 21px;
    display: flex;
    justify-content: center;
    position: relative;
    color: var(--text);
    font-size: 18px;
}
.section__nav_list_item_link::after {
    content: '';
    position: absolute;
    width: 90%;
    height: 1px;
    bottom: 0;
    /* background: var(--text); */
    background: transparent;
    transition: 500ms;
}
.section__nav_list_item_link:hover::after {
    background: var(--text);
}


/* section end */
/* section_cards start */
.section__cards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr );
    background: #393636;
    grid-template-areas: 
    'a1 a2 a3 a4'
    'a5 a6 a7 a8';
}
.card {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    padding: 15px;
    margin: 15px;
    background: #0C0C0C;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    color: var(--text);
}
.section__cards_card1 {
    grid-area: a1;
}
.section__cards_card2 {
    grid-area: a2;
}
.section__cards_card3 {
    grid-area: a3;
}
.section__cards_card4 {
    grid-area: a4;
}
.section__cards_card5 {
    grid-area: a5;
}
.section__cards_card6 {
    grid-area: a6;
}
.section__cards_card7 {
    grid-area: a7;
}
.section__cards_card8 {
    grid-area: a8;
}
.section__cards_card_img {
    transition: 500ms;
    width: 100%;
    height: 100%;
    height: 100%;
    position: relative;
}
/* .section__cards_card_img:hover {
    background: #69CF17;
    
} */
.section__cards_card_img1 {
    position: absolute;
    opacity: 0;
    background: #69CF17;
    height: 100%;
    width: 100%;
    padding: 35%;
    transition: 500ms;
}
.section__cards_card_img1:hover {
    opacity: 0.9;
    color: var(--text);
    position: absolute;
    width: 100%;
    height: 100%;
}
.section__cards_card_img2 {
    width: 100%;
    height: 100%;
    transition: 500ms;
}
.section__cards_card_img2:hover {
    opacity: 0.2;
}
/* section_cards end */
/* footer start */
.footer__title {
    padding: 20px;
    margin-top: 50px;
    color: #69CF17;
    background: var(--text);
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}
.footer__nav {
    background: linear-gradient(180deg, #000000 0%, rgba(105, 207, 23, 0.5) 100%);
    position: relative;
}
.footer__nav_link {
    color: var(--text);
    font-family: 'roboto';
    font-size: 20px;
}
.footer_nav_tel {
    color: var(--text);
    font-family: 'roboto';
    font-weight: 700;
    padding: 45px 0 0;
}
.footer__nav_cont {
    display: flex;
    justify-content: space-between;
}
.footer__nav_logo {
    object-fit: none;
    width: fit-content;
    height: fit-content;
}
.footer_logo_a {
    padding: 30px 0 0;
}
.footer__nav_list{
    display: flex;
    column-gap: 20px;
    height: 325px;
    align-items: center;
    margin-left: -80px;
}
.footer__line_txt  {
    color: var(--text);
    font-family: 'roboto';
    font-size: 16px;
    text-align: center;
    background: #1A3406;
    padding: 19px;  
}
/* footer end */

/* about strat */

.section__about {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    padding: 30px 0;
}
.section__about_image {
    position: relative;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.section__about_img {
    position: absolute;
}
.section__about_image_title {
    color: rgba(105, 207, 23, 0.7);
    text-shadow: 0px 0px 15px rgba(191, 171, 171, 0.4);
    font-size: 55px;
    line-height: 65px;
    font-weight: bold;
    position: relative;
}

.section__about_text {
    color: var(--text);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    height: 403px;
    text-align: justify;
    margin-top: 30px;
}
.fil {
    margin-top: 0;
}
.footer__nav_cont {
    flex-direction: column;
}
.footer_logo_a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.footer_nav_tel {
    padding: 0;
}
.footer__nav_list {
    justify-content: center;
    margin-left: unset;
}
/* about end */